<form (submit)="guardar()" [formGroup]="formularioActor">
    <mat-form-field appearance="standard">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Fecha Nacimiento</mat-label>
        <input formControlName="fechaNac" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <app-imagen [urlImagenActual]="inputModelActor?.foto" (selectedFile)="getFile($event)"></app-imagen>
    <app-input-markdown (cambioContenidoMarkDown)="cambioMarkDown($event)"></app-input-markdown>
    <div>
        <button mat-flat-button color="primary" [disabled]="formularioActor.invalid">Guardar Cambios</button>
        <a mat-stroked-button routerLink="/actores">Cancelar</a>
    </div>
</form>